<div class="parent">
  <div class="child">
    <div class="header">
      <h1 class="fw-bold mb-0 text-center pt-4">CONTACT SECTION</h1>
      <div class="divider">
        <span class="line"></span>
        <span class="star">★</span>
        <span class="line"></span>
      </div>
    </div>

    <div class="form  mx-auto w-50 pt-5">
      <div>
        <input class="w-100 p-3 rounded m-4" type="text" placeholder="userName">
      </div>
      <div>
        <input class="w-100 p-3 rounded m-4" type="text" placeholder="userAge">
      </div>
      <div>
        <input class="w-100 p-3 rounded m-4" type="text" placeholder="userEmail">
      </div>
      <div>
        <input class="w-100 p-3 rounded m-4" type="password" placeholder="userpassword">
      </div>
      <button class="btn btn-info mb-4 ms-4">send Message</button>
    </div>

  </div>
</div>
