<div class="parent ">
  <div class="child">
    <div class="header">
      <h1 class="fw-bold mb-0 text-center pt-5" >PORTFOLIO COMPONENT</h1>
      <div class="divider">
        <span class="line"></span>
        <span class="star">★</span>
        <span class="line"></span>
      </div>
    </div>
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/poert1.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/port2.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/port3.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/poert1.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/port2.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="item position-relative">
            <div class="img">
              <img class="img-fluid rounded" src="../assets/images/port3.png " alt="">
            </div>
            <div class="layer d-flex justify-content-center align-items-center ">
              <i class="fa-solid fa-plus text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
