<div class="parent d-flex justify-content-center p-5 text-white ">
  <div class="child p-5 m-5">
    <h1 class="mb-0 fw-bold text-center pt-5">ABOUT COMPONENT</h1>
    <div class="divider">
      <span class="line"></span>
      <span class="star">★</span>
      <span class="line"></span>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
  </div>
</div>
