<section class="footer pt-5">
  <div class="container p-3">
    <div class="row pb-5">
      <div class="col-sm-12 col-md-4 text-center text-white">
        <h2>LOCATION</h2  >
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-sm-12 col-md-4 text-center text-white">
        <h2>AROUND THE WEB</h2>
        <div class="icon">
          <i class="fa-brands fa-facebook fs-5"></i>
          <i class="fa-brands fa-twitter fs-5"></i>
          <i class="fa-brands fa-linkedin fs-5"></i>
          <i class="fa-solid fa-globe fs-5"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 text-center text-white">
        <h2>ABOUT FREELANCER</h2  >
       <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
      </div>
    </div>
  </div>
  <div class="last p-3 text-white text-center">
    <p>Copyright © Your Website 2021</p>

  </div>
</section>
